*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}


body{
    background-color: aquamarine;
    
}

.container{
    background-color: white;
    width: 50%;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
}    

h2 {
    font-size: 25px;
    color: darkmagenta;
    margin-top: 30px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 70%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-block: 5px;
  }
  


.fahrenheit-box h2 {
    margin-top: 50px;
}
